<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/

#header, #container, #footer {
	width: 960px;
}

#aside {
	float: left;
	width: 230px;
}

#extra {
	float: left;
	width: 200px;
	margin-left: -200px;
}

#content {
	float:left;
	width:100%;
}

#content_inner {
	margin: 0 200px 0 230px;
}

/*]]>*/
</style>


<div id="container">

	<div id="content">
		<div id="aside"> 
			_$aside$_
		</div>
		<div id="content_inner">
			_$content$_
		</div>
	</div>

	<div id="extra"> 
		_$extra$_
	</div>
	
</div>