<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/

#header, #container, #footer {
	width:90%;
}

#aside {
	float: left;
	width: 230px;
}

#extra {
	float: left;
	width: 200px;
}

#main {
	float:left;
	width:100%;
	margin:0 0 0 -430px;
}

#content {
	margin: 0 0 0 430px;
}

/*]]>*/
</style>


<div id="container">

	<div id="main">
		<div id="content">
			_$content$_
		</div>
	</div>

	<div id="aside"> 
		_$aside$_
	</div>
	
	<div id="extra">
		_$extra$_
	</div>

</div>