#header {
	position: relative;
	background: url(index/header.png) left top;
}

#logo {
	width: 358px;
	height: 87px;
	margin: 0 auto;
	background: url(index/logo.png) left top;
}

#help {
	position: absolute;
	right: 5px;
	top: 5px;
	height:16px;
	line-height:16px;
	background: url(index/help.png) left top no-repeat;
	padding-left: 18px;
}

#searchBar {
	width: 433px;
	position: relative;
	margin: 15px auto;
	padding-left: 5px;
	height: 52px;
	background: url(index/search.png) no-repeat left top;
}

#search {
	width: 420px;
	margin-top: 5px;
	background: none;
	height: 43px;
	line-height: 43px;
	font-size:2.5em;
	color: #5177A3;
	border: none;
}

#searchType {
	position: absolute;
	right: -100px;
	top: 15px;
	width: 100px;
}


#result table{
	border-left:1px solid #96C8F5;
	width:95%;
	margin:0 auto;
	text-indent:1em;
	line-height:2.5em;
	-webkit-box-shadow: 0px 3px 12px #aaa;
}

#result table thead th, #result table tfoot th{
	background:url(index/zTable.png) no-repeat left top;
	border:1px solid #96C8F5;
	border-left:none;
	color:#1867AF;
	font-weight:bold;
	line-height:3em;
	cursor: pointer;
}

#result table tfoot th {
	background-position:left bottom;
	border:none;
	line-height:2.5em;
}

#result table tbody th, #result table tbody td, #result table tfoot th {
	border-bottom:1px solid #96C8F5;
	border-right:1px solid #96C8F5;
	vertical-align:top;
}

#result table tbody th{
	color:#1867AF;
}

#result table tr.zTable-alt {
	background:#ECF5FD;
}

#result table tr {
	background:#fff;
	-webkit-transition: background-color 0.1s linear;
}

#result table tbody tr:hover td, #result table tbody tr:hover th{
	background:#EFF7FD;
}

#result table tbody a {
	display:block;
	zoom:1;
}

#result table .trFocus {
	background:#D6E9FA;
	
}

#result table tbody .ie6Hover {
	background:#EFF7FD;
}