<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">

/*<![CDATA[*/

/* ------------------------------------------------------------------
 *	dBox_areo:
 *		inspiration by MS Vista
 *
 */

@import "dBox.css";

html {
	background: transparent url("../photo/dew.jpg");
}



.dBox .dBox-content,
.dBox .dBox-top,
.dBox .dBox-bottom,
.dBox .dBox-bottom div {
	 background:transparent url("dBox_aero/dBox_aero.png") no-repeat right top;
}


.dBox .dBox-top {
	 width:30px; /* top slice width */
	 margin-left:-30px;
	 background-position:left top;
}


.dBox .dBox-bottom,
.dBox .dBox-bottom div {
	 height:30px; /* height of bottom cap/shade */
}

.dBox .dBox-bottom {
	background-position:right bottom;
}

.dBox .dBox-bottom div {
	 width:30px; /* bottom corner width */
	 margin-left:-30px;
	 background-position: left bottom;
}

/*]]>*/


/*]]>*/
</style>


<div class="dBox" id="dBox">
	<div class="dBox-content">
		<div class="dBox-top"></div>
		<!-- Your content goes here -->

		<h1>Even <em>More</em> Rounded Corners With CSS</h1>
		<p>Here is a very simple example dialog.</p>
		<p>Note that if gradients are used, you will need a "min-height" (or fixed height) rule on the body of the dialog. If these examples appear funny at the bottom, it is because they do not enforce the min-height rule.</p>

		<!-- Your content end here -->
	</div>
	<div class="dBox-bottom">
		<div><!--empty element for layout--></div>
	</div>
</div>


<script src="../../../tools/mootools/mootools-release-1.11.js" type="text/javascript">
</script> <script type="text/javascript">
//<![CDATA[
        $("dBox").makeDraggable();
//]]>
</script>