<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->

<style type="text/css">
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fhBox:
 *		fixed height box
 *
 */

.fhBox {
	width: 90%;
	height: 226px;
	background: URL("fhBox/fhBox.png") no-repeat left top;
	padding-left: 20px;
}
.fhBox-inner {
	height: 226px;
	background: URL("fhBox/fhBox.png") no-repeat right top;
	padding-top: 20px;
	margin-left: 10px;
	display: table;
	zoom: 1;
}
/*]]>*/
</style>


<div class="fhBox">
	<div class="fhBox-inner">
		<h3>
			Heading Text
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetuer
			adipiscing elit, sed diam nonummy nibh euismod
			tincidunt ut laoreet dolore magna aliquam erat
			volutpat. Ut wisi enim ad minim veniam, quis
			nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo
			consequat.
			Lorem ipsum dolor sit amet, consectetuer
			adipiscing elit, sed diam nonummy nibh euismod
			tincidunt ut laoreet dolore magna aliquam erat
			volutpat. Ut wisi enim ad minim veniam, quis
			nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo
			consequat.
		</p>

	</div>
</div>
