<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->

<style type="text/css">
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fhBox:
 *		fixed height box
 *
 */

.fhBox {
	width: 90%;
	background: #3C74BA URL("fhBox/fhBox_footer.png") no-repeat left top;
	margin: 10px auto;
	
}
.fhBox-inner {
	height: 50px;
	background: #3C74BA URL("fhBox/fhBox_footer.png") no-repeat right top;
	text-align: center;
	line-height: 45px;
	margin-left: 15px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
/*]]>*/
</style>


<div class="fhBox">
	<div class="fhBox-inner">
		Copyright &copy; 2000-2008
	</div>
</div>
