<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->

<style type="text/css">
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fwBox:
 *		fixed width box
 *
 */

.fwBox {
	width: 264px;
	background: URL("fwBox/fwBox.png") no-repeat left bottom;
	margin: 15px auto;	/* just for center */
	padding-bottom: 1px;
}
.fwBox-inner {
	background: URL("fwBox/fwBox.png") no-repeat left top;
	padding: 15px 20px 0;
	margin-bottom: 9px;
}

/*]]>*/
</style>


<div class="fwBox">
	<div class="fwBox-inner">
		<h3>
			Heading Text
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetuer
			adipiscing elit, sed diam nonummy nibh euismod
			tincidunt ut laoreet dolore magna aliquam erat
			volutpat. Ut wisi enim ad minim veniam, quis
			nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo
			consequat.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetuer
			adipiscing elit, sed diam nonummy nibh euismod
			tincidunt ut laoreet dolore magna aliquam erat
			volutpat. Ut wisi enim ad minim veniam, quis
			nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo
			consequat.
		</p>

	</div>
</div>
