<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/
@import "mBox.css";

.mBox, .mBox .mBox-head, .mBox .mBox-body, .mBox .mBox-head h2 {
	background-color: red;
	background-image: url("mBox_anyColor/mBox_anyColor.png");
	_background-image: url("mBox_anyColor/mBox_anyColor_gif.gif");
}

/*]]>*/
</style>

<script src="../../../tools/mootools/mootools-release-1.11.js" type="text/javascript"></script>
<script src="js/mooRainbow_v1.1/mooRainbow.js" type="text/javascript"></script>
<link rel="stylesheet" href="js/mooRainbow_v1.1/mooRainbow.css" type="text/css" media="screen, projection"/>


<div class="mBox">  
	<div class="mBox-head"><h2>This is a header</h2></div>
	<div class="mBox-body"><p>This is for your content.</p></div>
</div> 

<img id="myRainbow" src="js/mooRainbow_v1.1/rainbow.png" alt="[r]" width="16" height="16" /> pick Color

<script language="javascript">
//<![CDATA[
window.addEvent('domready', function() {
	var r = new MooRainbow('myRainbow', {
		'startColor': [58, 142, 246],
		'imgPath': 'js/mooRainbow_v1.1/images/',
		'onChange': function(color) {
			$E('.mBox').setStyle('background-color', color.hex);
			$E('.mBox .mBox-head').setStyle('background-color', color.hex);
			$E('.mBox .mBox-body').setStyle('background-color', color.hex);
			$E('.mBox .mBox-head h2').setStyle('background-color', color.hex);
		}
	});
});
//]]>
</script>