
/* ==============================================================
 * widgets: base-extra
 *     make HTML element more beauty
 * 
 * Author:
 *     nwind@live.com
 * 
 * License:
 *     MIT license
 *
 * Version:
 *     0.2, 2008-01-23
 *
 * Reference:
 *     inspired by Tripoli <http://www.monc.se/tripoli/>
 *	
 *
================================================================== */
#container {
	width: 80%;
}

html {
	border:none;
}

/* 
 * Note:
 *     Tables still need 'cellspacing="0"' in the markup. 
 *     This code may break your <table> layout
 */
table { border-collapse: separate; border-spacing: 0; }




/* -------------- hide Element ----------------- */
.hide {
	position:absolute;
	left: 0.00000em;
	top: -41.66667em;
	width: 0.08333em;
	height: 0.08333em;
	overflow:hidden;
}


/* ---------------- clearfix ------------------- */
.clearfix:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}

.clearfix {
	display:inline-block; 
	display:block;
} 


/* ----------------- hasLayout -----------------*/
.gainlayout { zoom: 1; }


/* ----------------- transparency -----------------*/
.trans { -moz-opacity: 0.8; opacity: 0.8; filter: alpha(Opacity=80);}


/*
 * Note:
 *     replace '&' with '<span class="amp">&amp;</span>'
 *
 * Reference:
 *     http://www.simplebits.com
 *
 */
span.amp {
	font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	font-style: italic;
	font-size: 1.1em;
}

/*
 * Note:
 *     List should be hung
 *
 * Reference:
 *     http://www.markboulton.co.uk/journal/comments/-five_simple_steps_to_better_typography_part_2/ 
 */
/*
ul {
	list-style-position: outside;
}
*/

/* ------------------------------------------------------------------
 *	## Others ##:
 *		
 */

del {
	background-color:#fdcccc;
	border: 0.08333em solid #c99;
	text-decoration:line-through;
}

ins {
	background-color:#CFC;
	border: 0.08333em solid #9c9;
}

hr {
	border:0;
	height: 0.08333em;
	background-color:transparent;
	border-top: 0.25000em solid #f2f2f2;
	clear:both;
	margin:.7em 0;
}
