
/*<![CDATA[*/
#dragRectangle {
	position: absolute;
	border: 0.1em solid #78A5D1;
	background: #F9FBFD;
	display:none;
	opacity:0.5;
	-moz-user-select: none;
	filter:alpha(opacity=50);
	z-index:100;
}

#selectItems div{
	position:absolute;
	background: url('dragArea/Asleep.png');
	width: 12.8em; 
	height: 12.8em;
}

.dragged {
	z-index:10;
}
/*]]>*/
