
.gallery {
	list-style-type: none;
}

.gallery li {
	margin: 1.0em;
	border: 0.1em solid #eee;
	width: 18.0em;
	height: 20.0em;
	float: left;
	text-align:center;
}

.gallery li:hover {
	border: 0.1em solid #6AA5DC;
	background: #E6F1FA;
}

.gallery li p{
	margin:0;
}

.gallery .figure {
	height: 16.0em;
	position: relative;
}

.gallery .figure a{
	display: block;
	bottom: 0;
	left:0;
	width: 100%;
	position: absolute;
}

