
.gallery {
	list-style-type: none;
}

.gallery li {
	margin: 10px;
	border: 1px solid #eee;
	width: 180px;
	height: 200px;
	float: left;
	text-align:center;
}

.gallery li:hover {
	border: 1px solid #6AA5DC;
	background: #E6F1FA;
}

.gallery li p{
	margin:0;
}

.gallery .figure {
	height: 160px;
	position: relative;
}

.gallery .figure a{
	display: block;
	bottom: 0;
	left:0;
	width: 100%;
	position: absolute;
}

