
/*<![CDATA[*/
blockquote {
	background: transparent url(bQuote/quote.png) left top no-repeat;
	font-family: "Palatino Linotype", Palatino, Georgia, serif;
	margin:20px;
}
blockquote p{
	padding-left:29px;
	padding-top:13px;
}
blockquote div{
	text-align:right;
	font-weight:bold;
}
/*]]>*/
