

html,body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

body {
	margin-left: 23.3em;
	color: #242424;
	width: 35em;
}

pre {
	font-family: monospace;
	color: #070606;
	background-color: #eef0eb;
	margin: 2em 0;
	padding: 1em 0;
	border: 0.1em dotted #b7c4d3;
	border-width: 0.1em 0;
	font-size: 120%;
	line-height: 130%;
	margin-left: -23.3em;
	padding-left: 23.3em;
	/*for IE*/
	zoom: 1;
}

