
/*<![CDATA[*/
.scrollFade { 
	border-top: 1px solid rgb(153, 153, 153);
	border-bottom: 1px solid rgb(153, 153, 153); 
	padding: 0pt 5px 5px 0pt;
	overflow: auto;
	width: 220px;
	height: 236px;
	line-height: 130%;
}

.scrollFade-fade { 
	background:transparent url("scrollFade/fade.png") repeat left top;
	position: relative;
	height: 40px;
	width: 205px;
	top: -41px; 
}

#ie6 .scrollFade-fade {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='scrollFade/fade.png', sizingMethod='scale');
}
/*]]>*/
