
/*<![CDATA[*/
.scrollFade { 
	border-top: 0.1em solid rgb(153, 153, 153);
	border-bottom: 0.1em solid rgb(153, 153, 153); 
	padding: 0pt 0.5em 0.5em 0pt;
	overflow: auto;
	width: 22.0em;
	height: 23.6em;
	line-height: 130%;
}

.scrollFade-fade { 
	background:transparent url("scrollFade/fade.png") repeat left top;
	position: relative;
	height: 4.0em;
	width: 20.5em;
	top: -4.1em; 
}

#ie6 .scrollFade-fade {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='scrollFade/fade.png', sizingMethod='scale');
}
/*]]>*/
