
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fhBox:
 *		fixed height box
 *
 */

html {
	background: url("pattern_021.png");
}

.fhBox {
	width: 90%;
	height: 56px;
	background: URL("fhBox2/fhBox2.png") no-repeat left top;
	padding-left: 20px;
	margin: 15px auto;
	text-align:center;
}
.fhBox-inner {
	height: 56px;
	line-height: 56px;
	color:#fff;
	background: URL("fhBox2/fhBox2.png") no-repeat right bottom;
}
/*]]>*/
