
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fhBox:
 *		fixed height box
 *
 */

.fhBox {
	width: 90%;
	height: 226px;
	background: URL("fhBox/fhBox.png") no-repeat left top;
	padding-left: 20px;
}
.fhBox-inner {
	height: 226px;
	background: URL("fhBox/fhBox.png") no-repeat right top;
	padding-top: 20px;
	margin-left: 10px;
	display: table;
	zoom: 1;
}
/*]]>*/
