
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fhBox:
 *		fixed height box
 *
 */

.fhBox {
	width: 90%;
	background: #3C74BA URL("fhBox/fhBox_footer.png") no-repeat left top;
	margin: 1.0em auto;
	
}
.fhBox-inner {
	height: 5.0em;
	line-height: 5.0em;
	background: #3C74BA URL("fhBox/fhBox_footer.png") no-repeat right top;
	text-align: center;
	line-height: 4.5em;
	margin-left: 1.5em;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.2em #000;
}
/*]]>*/
