
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fwBox:
 *		fixed width box
 *
 */

html {
	background: url("pattern_096.gif");
}

.fwBox {
	width: 238px;
	background: url("fwBox2/fwBox2.png") no-repeat left bottom;
	margin: 15px auto;	/* just for center */
	padding-bottom: 10px;
}
.fwBox-inner {
	background: url("fwBox2/fwBox2.png") no-repeat left top;
	padding: 15px 20px 1px;
}

/*]]>*/
