
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fwBox:
 *		fixed width box
 *
 */

.fwBox {
	width: 264px;
	background: URL("fwBox/fwBox.png") no-repeat left bottom;
	margin: 15px auto;	/* just for center */
	padding-bottom: 1px;
}
.fwBox-inner {
	background: URL("fwBox/fwBox.png") no-repeat left top;
	padding: 15px 20px 0;
	margin-bottom: 9px;
}

/*]]>*/
