
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fwBox:
 *		fixed width box
 *
 */

.fwBox {
	width: 26.4em;
	background: URL("fwBox/fwBox.png") no-repeat left bottom;
	margin: 1.5em auto;	/* just for center */
	padding-bottom: 0.1em;
}
.fwBox-inner {
	background: URL("fwBox/fwBox.png") no-repeat left top;
	padding: 1.5em 2.0em 0;
	margin-bottom: 0.9em;
}

/*]]>*/
