
/*<![CDATA[*/
/* ------------------------------------------------------------------
 *	fwBox:
 *		fixed width box
 *
 */

html {
	background: url("pattern_096.gif");
}

.fwBox {
	width: 19.83333em;
	background: url("fwBox2/fwBox2.png") no-repeat left bottom;
	margin: 1.25000em auto;	/* just for center */
	padding-bottom: 0.83333em;
}
.fwBox-inner {
	background: url("fwBox2/fwBox2.png") no-repeat left top;
	padding: 1.25000em 1.66667em 0.08333em;
}

/*]]>*/
