
/*<![CDATA[*/

/* ------------------------------------------------------------------
 *	Box:
 *		rounded corner box, base on MODx
 *
 *	Reference:
 *		http://www.modxcms.com/simple-rounded-corner-css-boxes.html
 */

.mBox, .mBox .mBox-head, .mBox .mBox-head h2, .mBox .mBox-body {
	background: transparent url("mBox/mBox.png") no-repeat;
}


.mBox {
    background-position: right bottom;
    width: 300px;
    padding-right: 15px; 
    margin: 20px auto; 
}


.mBox .mBox-head {
    background-position: right top;
	padding-right: 15px;
	margin-right: -15px;
}


.mBox .mBox-head h2 {
    background-position: left top;
	margin:0;
	padding: 10px 0 0 10px;
}

.mBox .mBox-body {
    background-position: left bottom;
	padding: 0 0 10px 10px;
}


/*]]>*/
