

body {
	color:#ECDCF3;
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.2em;
}

.pager {
		clear:both;
		display:inline;
		list-style-type:none;
		margin:-.4em 0 0;
		padding:0 1.0em 1.2em;
}

.pager li {
		display:inline;
		float:left;
		height:2em;
		width:1.95em;
}

.pager li a,.pager li span,.pager li .ing {
		background-color:#f8f8f8;
		border: 0.1em solid #9a92aa;
		color:#555!important;
		display:block;
		font-family:Tahoma,Arial,sans-serif;
		font-size:1em;
		font-weight:700;
		height:2em;
		line-height:2em;
		opacity:.8;
		position:absolute;
		text-align:center;
		text-decoration:none;
		width:2em;
}

.pager li span {
		background-color:#EEE;
		color:#CCC!important;
}

.pager li .ing {
		background-color:#551881;
		border: 0.1em solid #b475c8;
		color:#FFF!important;
		opacity:.9;
}

.pager li a:hover,.pager li a:focus,.pager li a:active {
		border: 0.1em solid #26143e;
		color:#26143e!important;
		font-size:2em;
		height:1.6em;
		line-height:1.6em;
		margin:-.3em 0 0 -.3em;
		opacity:.7;
		position:absolute;
		width:1.6em;
		z-index:100;
}
