
/*<![CDATA[*/
	.kSubmit {
		display: -moz-inline-box;
		display: inline-block;
		*display: inline;
		zoom: 1;
		padding-left: 5px;
		background: url("kSubmit/kSubmit.png") no-repeat top left;
	}
	
	.kSubmit_button {
		background: url("kSubmit/kSubmit.png") no-repeat top right;
		margin-left: 5px;
		padding-right: 15px;
		text-indent: 10px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		border: none;
		color: #FFF;
	}
/*]]>*/
