

/*STARS */
.sRate { list-style:none; margin:-1px 0 0 -1px; padding:0; width:70px; height:12px; position:relative; background:url(sRate/sRate.gif) 0 0 repeat-x; overflow:hidden;}
	.sRate li { padding:0; margin:0; float:left;}
	.sRate li a { display:block; width:14px; height:12px; text-decoration:none; text-indent:-9000px; z-index:20; position:absolute; padding:0; margin:0;}
	.sRate li a:hover{ background:url(sRate/sRate.gif) 0 12px; z-index:2; left:0;}
		.sRate a.one_star{ left:0;}
		.sRate a.one_star:hover{ width:14px;}
		.sRate a.two_stars{ left:14px;}
		.sRate a.two_stars:hover{ width:28px;}
		.sRate a.three_stars{ left:28px;}
		.sRate a.three_stars:hover{ width:42px;}
		.sRate a.four_stars{ left:42px;}	
		.sRate a.four_stars:hover{ width:56px;}
		.sRate a.five_stars{ left:56px;}
		.sRate a.five_stars:hover{ width:70px;}
	.sRate li.current_rating{ background:url(sRate/sRate.gif) 0 24px; position:absolute; height:12px; display:block; text-indent:-9000px; z-index:1; left:0;}
	
