<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
.gallery {
	list-style-type: none;
}

.gallery li {
	margin: 10px;
	border: 1px solid #eee;
	width: 180px;
	height: 200px;
	float: left;
	text-align:center;
}

.gallery li:hover {
	border: 1px solid #6AA5DC;
	background: #E6F1FA;
}

.gallery li p{
	margin:0;
}

.gallery .figure {
	height: 160px;
	position: relative;
}

.gallery .figure a{
	display: block;
	bottom: 0;
	left:0;
	width: 100%;
	position: absolute;
}

</style>

<ul class="gallery">
	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Bald.eagle.closeup.arp-sh.750pix.jpg" title="Bald.eagle.closeup.arp-sh.750pix.jpg"><img alt="" src="photo/120px-Bald.jpg" height="84" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Bald_eagle" title="Bald eagle">Bald eagle</a> at <a href="http://en.wikipedia.org/wiki/Bird_of_prey" title="Bird of prey">Bird of prey</a>
		</p>
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Arpingstone" title="User:Arpingstone">Adrian Pingstone</a>
		</p>
		
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Netta_rufina_m2.jpg" title="Netta rufina m2.jpg"><img alt="" src="photo/120px-Netta_rufina_m2.jpg" height="78" width="120" /></a>
		</div>

		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Red-crested_Pochard" title="Red-crested Pochard">Red-crested Pochard</a>
		</p>
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Y6y6y6" title="User:Y6y6y6">Jon Sullivan</a>
		</p>
		
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Red-whiskered_Bulbul-web.jpg" title="Red-whiskered Bulbul-web.jpg"><img alt="" src="photo/116px-Red-whiskered_Bulbul-web.jpg" height="120" width="116" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Red-whiskered_Bulbul" title="Red-whiskered Bulbul">Red-whiskered Bulbul</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Shivanayak" title="User:Shivanayak">Shivanayak</a>
		</p>
		
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Phalacrocorax-auritus-007.jpg"  title="Phalacrocorax-auritus-007.jpg"><img alt="" src="photo/120px-Phalacrocorax-auritus-007.jpg" height="120" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Double-crested_Cormorant" title="Double-crested Cormorant">Double-crested Cormorant</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a>
		</p>
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Seagull_on_sale_pier.jpg"  title="Seagull on sale pier.jpg"><img alt="" src="photo/120px-Seagull_on_sale_pier.jpg" height="81" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Silver_Gull" title="Silver Gull">Silver Gull</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Fir0002" title="User:Fir0002">Fir0002</a>
		</p>
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Superb_fairy_wren2_LiquidGhoul.jpg"  title="Superb fairy wren2 LiquidGhoul.jpg"><img alt="" src="photo/120px-Superb_fairy_wren2_LiquidGhoul.jpg" height="90" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Superb_Fairy-wren" title="Superb Fairy-wren">Superb Fairy-wren</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:LiquidGhoul" title="User:LiquidGhoul">liquidGhoul</a>
		</p>
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Rooster04_adjusted.jpg"  title="Rooster04 adjusted.jpg"><img alt="" src="photo/120px-Rooster04_adjusted.jpg" height="74" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Rooster" title="Rooster">Rooster</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Fir0002" title="User:Fir0002">Fir0002</a>
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Sitta-carolinensis-001.jpg"  title="Sitta-carolinensis-001.jpg"><img alt="" src="photo/120px-Sitta-carolinensis-001.jpg" height="120" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/White-breasted_Nuthatch" title="White-breasted Nuthatch">White-breasted Nuthatch</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a> (edited by <a href="http://en.wikipedia.org/wiki/User:Fir0002" title="User:Fir0002">Fir0002</a>)
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Day_old_chick_black_background.jpg"  title="Day old chick black background.jpg"><img alt="" src="photo/120px-Day_old_chick_black_background.jpg" height="80" width="120" /></a>
		</div>
		<p class="figure-caption">
			Day old chick at <a href="http://en.wikipedia.org/wiki/Chicken" title="Chicken">Chicken</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Fir0002" title="User:Fir0002">Fir0002</a>
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Protonotaria-citrea-002_edit.jpg"  title="Protonotaria-citrea-002 edit.jpg"><img alt="" src="photo/120px-Protonotaria-citrea-002_edit.jpg" height="120" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Prothonotary_warbler" title="Prothonotary warbler">Prothonotary warbler</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a>
		</p>
	</li>

	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Sparrow_on_ledge.jpg"  title="Sparrow on ledge.jpg"><img alt="" src="photo/120px-Sparrow_on_ledge.jpg" height="80" width="120" /></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/House_Sparrow" title="House Sparrow">House Sparrow</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Fir0002" title="User:Fir0002">Fir0002</a>
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Cyanocitta-cristata-004.jpg"  title="Cyanocitta-cristata-004.jpg"><img alt="" src="photo/120px-Cyanocitta-cristata-004.jpg" height="80" width="120"></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Blue_Jay" title="Blue Jay">Blue Jay</a>
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a>
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Strix-varia-005.jpg"  title="Strix-varia-005.jpg"><img alt="" src="photo/120px-Strix-varia-005.jpg" height="80" width="120"></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Barred_Owl" title="Barred Owl">Barred Owl</a> 
		</p>		
		<p class="figure-credit">
			by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a>
		</p>
	</li>


	<li>
		<div class="figure">	
		<a href="http://en.wikipedia.org/wiki/Image:Archilochus-alexandri-002-edit.jpg"  title="Archilochus-alexandri-002-edit.jpg"><img alt="" src="photo/120px-Archilochus-alexandri-002-edit.jpg" height="80" width="120"></a>
		</div>
		<p class="figure-caption">
			<a href="http://en.wikipedia.org/wiki/Black-chinned_Hummingbird" title="Black-chinned Hummingbird">Black-chinned Hummingbird</a>
		</p>		
		<p class="figure-credit">
			 by <a href="http://en.wikipedia.org/wiki/User:Mdf" title="User:Mdf">Mdf</a> (edited by <a href="http://en.wikipedia.org/wiki/User:Andrew_c" title="User:Andrew c">Andrew c</a>)
		</p>
	</li>

</ul>