<!--
	$Date: 2008-03-28 19:40:55 +0800 (Fri, 28 Mar 2008) $
	$Rev: 100 $
-->
<style type="text/css" media="screen">
	
#nav ul{
	width:200px;
	margin: 0 auto;
	list-style-type: none;
}
#nav li {
	margin:3px 0;
	height: 25px;
}
#nav li a {
	background:#E5EEF6;
	border: 1px solid #E5EEF6;	
	display:block;
	height:25px;
	cursor: pointer;
	line-height:25px;
}
#nav li a span {
	display:block;
	text-indent: 1em;
	border: 1px solid #E5EEF6;	
	height: 23px;
}
#nav li a:hover{
	background:#FFE387 none repeat scroll 0%;
	border: 1px solid #f4c65b;	
	color:#fff;
}
#nav li a:hover span {
	border: 1px solid #FFFEF4;	
}


</style>

<div id="nav">
     <ul>
        <li>
			<a href="#"><span>Home</span></a>
		</li>
        <li>
			<a href="#"><span>About</span></a>
		</li>
        <li>
			<a href="#"><span>Work</span></a>
		</li>
        <li>
			<a href="#"><span>Products</span></a>
		</li>
        <li>
			<a href="#"><span>Contact Us</span></a>
		</li>
     </ul>
 </div>