<!--
	$Date: 2008-03-28 19:40:55 +0800 (Fri, 28 Mar 2008) $
	$Rev: 100 $
-->
<style type="text/css" media="screen">
	
	#nav {
		width:200px;
	}
	#nav li {
		margin:5px 0;
	}
	#nav li a {
		background:#F4F4F4;
		border-left:8px solid #ccc;
		display:block;
		padding-left:12px;
		height:25px;
		line-height:25px;
	}
	#nav li a:hover, #nav li.nav-current a {
		background:#EAEAEA none repeat scroll 0%;
		border-left:10px solid #356aa0;
		padding-left:10px;
		color:#356aa0;
		text-shadow:2px 2px 4px #aaa;
		font-weight: bold;
	}

</style>

<div id="nav">
     <ul>
        <li class="nav-current">
			<a>Home</a>
		</li>
        <li>
			<a href="#">About</a>
		</li>
        <li>
			<a href="#">Work</a>
		</li>
        <li>
			<a href="#">Products</a>
		</li>
        <li>
			<a href="#">Contact Us</a>
		</li>
     </ul>
 </div>