<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*
	reference:
		http://www.brunildo.org/test/NavBar4.php
*/

#sNav a, #sNav span {
	border: 1px solid #999;
	border-left: none;
	padding: 3px 8px;
}
#sNav a {
	color: #666;
	text-decoration: none;
	background-color: #eee;
}
#sNav a:hover {
	color: #753;
	background-color: #f6f4f2;
}
#sNav span {
	color: #960;
	background-color: #fffcfa;
	border-bottom-color: #fffcfa;
}
#sNav li, #sNav a, #sNav span {
	float: left;
}
#sNav ul {
	border-left: 1px solid #999;
	display: table;
	position: relative;
	top: 1px;
	zoom:1;
}
#sNav {
	border-bottom: 1px solid #999;
}

</style>

<div id="sNav">
	<ul>
		<li>
			<a href="/test/NavBar4.php?item=0">Item one</a>
		</li>
		<li>
			<span>Item two</span>
		</li>
		<li>
			<a href="/test/NavBar4.php?item=2">Item three</a>
		</li>
		<li>
			<a href="/test/NavBar4.php?item=3">Item four</a>
		</li>
	</ul>
</div>