<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/
/*
	Reference:
		http://www.webdesignerwall.com/tutorials/advanced-css-menu/
*/
#menu {
	width: 774px;
	height: 210px;
	background: url(wMenu/menu-bg.jpg) no-repeat;
	position: relative;
}
#menu span {
	display: none;
	position: absolute;
}
#menu a {
	display: block;
	text-indent: -900%;
	position: absolute;
	outline: none;
}
#menu a:hover {
	background-position: left bottom;
}
#menu a:hover span{
	display: block;
}
#menu .home {
	width: 144px;
	height: 58px;
	background: url(wMenu/home.gif) no-repeat;
	left: 96px;
	top: 73px;
}
#menu .home span {
	width: 86px;
	height: 14px;
	background: url(wMenu/home-over.gif) no-repeat;
	left: 28px;
	top: -20px;
}
#menu .about {
	width: 131px;
	height: 51px;
	background: url(wMenu/about.gif) no-repeat;
	left: 338px;
	top: 97px;
}
#menu .about span {
	width: 40px;
	height: 12px;
	background: url(wMenu/about-over.gif) no-repeat;
	left: 44px;
	top: 54px;
}
#menu .rss {
	width: 112px;
	height: 47px;
	background: url(wMenu/rss.gif) no-repeat;
	left: 588px;
	top: 94px;
}
#menu .rss span {
	width: 92px;
	height: 20px;
	background: url(wMenu/rss-over.gif) no-repeat;
	left: 26px;
	top: -20px;
}
/*]]>*/
</style>

<ul id="menu">
	<li><a href="#" class="home">Home<span><!-- forDesign --></span></a></li>
	<li><a href="#" class="about">About<span><!-- forDesign --></span></a></li>
	<li><a href="#" class="rss">RSS<span><!-- forDesign --></span></a></li>
</ul>