<!--
	$Date: 2008-03-28 19:40:55 +0800 (Fri, 28 Mar 2008) $
	$Rev: 100 $
-->
<style type="text/css">
/*<![CDATA[*/

#header, #container, #footer{
	width:960px;
}

#content {
	float:right;
	width:760px;
}

#aside {
	float:left;
	width:200px;
}

/*]]>*/
</style>

<div id="container">

	<div id="content">
		_$content$_
	</div>

	<div id="aside"> 
		_$aside$_
	</div>
	
</div>