<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/

#header, #container, #footer {
	width:90%;
}

#aside {
	float: left;
	width: 230px;
}

#content {
	float:right;
	width:100%;
	margin:0 0 0 -230px;
}

#content_inner {
	margin: 0 0 0 230px;
}

/*]]>*/
</style>


<div id="container">
	
	<div id="content">
		<div id="content_inner">
			_$content$_
		</div>
	</div>

	<div id="aside"> 
		_$aside$_
	</div>
	
</div>

