<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/

#header, #container, #footer{
	width:90%;
}

#aside {
	float:right;
	width:230px;
}

#content {
	float:left;
	width:100%;
	margin-right:-230px;
}

#content_inner{
	margin-right:230px;
}

/*]]>*/
</style>


<div id="container">

	<div id="content">
		<div id="content_inner">
			_$content$_
		</div>
	</div>

	<div id="aside"> 
		_$aside$_
	</div>

</div>
