
/*<![CDATA[*/

#header, #container, #footer {
	width:90%;
}

#aside {
	float: left;
	width: 23.0em;
}

#content {
	float:right;
	width:100%;
	margin:0 0 0 -23.0em;
}

#content_inner {
	margin: 0 0 0 23.0em;
}

/*]]>*/
