
/*<![CDATA[*/

#header, #container, #footer{
	width:90%;
}

#aside {
	float:right;
	width: 23.0em;
}

#content {
	float:left;
	width:100%;
	margin-right: -23.0em;
}

#content_inner{
	margin-right: 23.0em;
}

/*]]>*/
