
	/* GLOBALHEADER */
	#globalheader { width: 98.2em; height: 3.8em; margin: 1.8em auto; position: relative; z-index: 9998; }
	#globalheader #globalnav { margin: 0; padding: 0; }
	#globalheader #globalnav li { display: inline; }
	#globalheader #globalnav li a { float: left; width: 11.7em; height: 0; padding-top: 3.8em; overflow: hidden; }
	#globalheader #globalnav li a,
	#globalheader #globalsearch { background-image: url("apple.com/globalnavbg.png"); _background-image: url("apple.com/globalnavbg.gif"); background-repeat: no-repeat; }

	/* BUTTONS */
	#globalheader #globalnav li#gn-store a { background-position: 0 0; }
	#globalheader #globalnav li#gn-store a { background-position: -11.7em 0; }
	#globalheader #globalnav li#gn-mac a { background-position: -23.4em 0; }
	#globalheader #globalnav li#gn-ipoditunes a { background-position: -35.1em 0; }
	#globalheader #globalnav li#gn-iphone a { background-position: -46.8em 0; }
	#globalheader #globalnav li#gn-downloads a { background-position: -58.5em 0; }
	#globalheader #globalnav li#gn-support a { background-position: -70.2em 0; }

	/* OVER STATES */
	#globalheader #globalnav li#gn-apple a:hover { background-position: 0 -3.8em; }
	#globalheader #globalnav li#gn-store a:hover { background-position: -11.7em -3.8em; }
	#globalheader #globalnav li#gn-mac a:hover { background-position: -23.4em -3.8em; }
	#globalheader #globalnav li#gn-ipoditunes a:hover { background-position: -35.1em -3.8em; }
	#globalheader #globalnav li#gn-iphone a:hover { background-position: -46.8em -3.8em; }
	#globalheader #globalnav li#gn-downloads a:hover { background-position: -58.5em -3.8em; }
	#globalheader #globalnav li#gn-support a:hover { background-position: -70.2em -3.8em; }

	/* PRESSED STATES */
	#globalheader #globalnav li#gn-apple a:active { background-position: 0 -7.6em; }
	#globalheader #globalnav li#gn-store a:active { background-position: -11.7em -7.6em; }
	#globalheader #globalnav li#gn-mac a:active { background-position: -23.4em -7.6em; }
	#globalheader #globalnav li#gn-ipoditunes a:active { background-position: -35.1em -7.6em; }
	#globalheader #globalnav li#gn-iphone a:active { background-position: -46.8em -7.6em; }
	#globalheader #globalnav li#gn-downloads a:active { background-position: -58.5em -7.6em; }
	#globalheader #globalnav li#gn-support a:active { background-position: -70.2em -7.6em; }

	/* ON STATES */
	#globalheader.home #globalnav li#gn-apple a:hover { background-position: 0 0; cursor: default; }
	#globalheader.store #globalnav li#gn-store a { background-position: -11.7em -11.4em; }
	#globalheader.mac #globalnav li#gn-mac a { background-position: -23.4em -11.4em; }
	#globalheader.ipoditunes #globalnav li#gn-ipoditunes a { background-position: -35.1em -11.4em; }
	#globalheader.iphone #globalnav li#gn-iphone a { background-position: -46.8em -11.4em; }
	#globalheader.downloads #globalnav li#gn-downloads a { background-position: -58.5em -11.4em; }
	#globalheader.support #globalnav li#gn-support a { background-position: -70.2em -11.4em; }

	/* GLOBAL SEARCH */
	#globalsearch { width: 16.3em; height: 3.8em; position: absolute; top: 0; right: 0; background-position: 100% 0; background-repeat: no-repeat; }
	
