


dl.dMenu {
	position:relative;

	margin-left: 10.0em;
}
dl.dMenu dt {
	border: 0.1em solid #666;
	width: 7.0em;
	height: 2.3em;
	line-height: 2.3em;
}
dl.dMenu dd {
	display:none;
	width: 20.0em;
	height: 30.0em;
	position:absolute;
	top: 2.4em;
	background:#fff;	/* fix hover bug in ie7*/
	border: 0.1em solid #666;
}
dl.dMenu dd .dMenu-cover {
	background:#fff;
	width: 7.0em;
	position:absolute;
	top: -0.1em;
	height: 0.1em;
}
dl.dMenu:hover dt {
	border-bottom-color:#fff;
}
dl.dMenu:hover dd {
	display:block;
}


