


dl.dMenu {
	position:relative;

	margin-left:100px;
}
dl.dMenu dt {
	border:1px solid #666;
	width:70px;
	height:23px;
	line-height:23px;
}
dl.dMenu dd {
	display:none;
	width:200px;
	height:300px;
	position:absolute;
	top:24px;
	background:#fff;	/* fix hover bug in ie7*/
	border:1px solid #666;
}
dl.dMenu dd .dMenu-cover {
	background:#fff;
	width:70px;
	position:absolute;
	top:-1px;
	height:1px;
}
dl.dMenu:hover dt {
	border-bottom-color:#fff;
}
dl.dMenu:hover dd {
	display:block;
}


