


dl.dMenu {
	position:relative;
	
	margin-left: 8.33333em;
}
dl.dMenu dt {
	border: 0.08333em solid #666;
	width: 5.83333em;
	height: 1.91667em;
	line-height: 1.91667em;
}
dl.dMenu dd {
	display:none;
	width: 16.66667em;
	height: 25.00000em;
	position:absolute;
	top: 2.00000em;
	background:#fff;	/* fix hover bug in ie7*/
	border: 0.08333em solid #666;
}
dl.dMenu dd .dMenu-cover {
	background:#fff;
	width: 5.83333em;
	position:absolute;
	top: -0.08333em;
	height: 0.08333em;
}

dl.dMenu:hover dt {
	border-bottom-color:#fff;
}

dl.dMenu:hover dd {
	display:block;
}


