
	

#nav li{
	list-style:none;
	display:inline;
}
#nav li a, #nav li span {
	background: url("hNav/hNav.png") no-repeat;	
}

#nav li a {
	float:left;
	background-position: left top;
	padding-left: 0.83333em;
	margin-left: 0.41667em;
}
#nav li a span {
	background-position: right top;
	padding-right: 0.83333em;
	text-align:center;
	display:block;
	line-height: 2.08333em;
}	
#nav li a:hover, #nav li.nav-current a {
	background-position: left -7.66667em;
	color:#356aa0;
}
#nav li a:hover span, #nav li.nav-current a span{
	background-position: right -7.66667em;
	text-shadow: 0.08333em 0.08333em 0.16667em #aaa;
}



