

/*
inspired by coda(http://www.panic.com/coda)
*/

#nav {
	background: url("jNav/jNav.png") no-repeat left bottom;	
	width:800px;
	height:100px;
	margin: 20px auto;
}

#nav li{
	list-style:none;
	display:inline;
}


#nav li a {
	float:left;
	background: url("jNav/jNav.png") no-repeat;	
	width:200px;
	height:0px;
	padding-top:100px;
	overflow: hidden;
}

#nav li#nav-home a {
	background-position:0 0;
}

#nav li#nav-blog a {
	background-position:-200px 0;
}

#nav li#nav-work a {
	background-position:-400px 0;
}

#nav li#nav-about a {
	background-position:-600px 0;
}


