

/*
inspired by coda(http://www.panic.com/coda)
*/

#nav {
	background: url("jNav/jNav.png") no-repeat left bottom;	
	width: 80.0em;
	height: 10.0em;
	margin: 2.0em auto;
}

#nav li{
	list-style:none;
	display:inline;
}


#nav li a {
	float:left;
	background: url("jNav/jNav.png") no-repeat;	
	width: 20.0em;
	height: 0.0em;
	padding-top: 10.0em;
	overflow: hidden;
}

#nav li#nav-home a {
	background-position:0 0;
}

#nav li#nav-blog a {
	background-position: -20.0em 0;
}

#nav li#nav-work a {
	background-position: -40.0em 0;
}

#nav li#nav-about a {
	background-position: -60.0em 0;
}


