
	
	#nav {
		width:200px;
	}
	#nav li {
		margin:5px 0;
	}
	#nav li a {
		background:#F4F4F4;
		border-left:8px solid #ccc;
		display:block;
		padding-left:12px;
		height:25px;
		line-height:25px;
	}
	#nav li a:hover, #nav li.nav-current a {
		background:#EAEAEA none repeat scroll 0%;
		border-left:10px solid #356aa0;
		padding-left:10px;
		color:#356aa0;
		text-shadow:2px 2px 4px #aaa;
		font-weight: bold;
	}

