
/*<![CDATA[*/
/*
	Reference:
		http://www.webdesignerwall.com/tutorials/advanced-css-menu/
*/
#menu {
	width: 64.50000em;
	height: 17.50000em;
	background: url(wMenu/menu-bg.jpg) no-repeat;
	position: relative;
}
#menu span {
	display: none;
	position: absolute;
}
#menu a {
	display: block;
	text-indent: -900%;
	position: absolute;
	outline: none;
}
#menu a:hover {
	background-position: left bottom;
}
#menu a:hover span{
	display: block;
}
#menu .home {
	width: 12.00000em;
	height: 4.83333em;
	background: url(wMenu/home.gif) no-repeat;
	left: 8.00000em;
	top: 6.08333em;
}
#menu .home span {
	width: 7.16667em;
	height: 1.16667em;
	background: url(wMenu/home-over.gif) no-repeat;
	left: 2.33333em;
	top: -1.66667em;
}
#menu .about {
	width: 10.91667em;
	height: 4.25000em;
	background: url(wMenu/about.gif) no-repeat;
	left: 28.16667em;
	top: 8.08333em;
}
#menu .about span {
	width: 3.33333em;
	height: 1.00000em;
	background: url(wMenu/about-over.gif) no-repeat;
	left: 3.66667em;
	top: 4.50000em;
}
#menu .rss {
	width: 9.33333em;
	height: 3.91667em;
	background: url(wMenu/rss.gif) no-repeat;
	left: 49.00000em;
	top: 7.83333em;
}
#menu .rss span {
	width: 7.66667em;
	height: 1.66667em;
	background: url(wMenu/rss-over.gif) no-repeat;
	left: 2.16667em;
	top: -1.66667em;
}
/*]]>*/
