
/*<![CDATA[*/
/*
	Reference:
		http://www.webdesignerwall.com/tutorials/advanced-css-menu/
*/
#menu {
	width: 77.4em;
	height: 21.0em;
	background: url(wMenu/menu-bg.jpg) no-repeat;
	position: relative;
}
#menu span {
	display: none;
	position: absolute;
}
#menu a {
	display: block;
	text-indent: -900%;
	position: absolute;
	outline: none;
}
#menu a:hover {
	background-position: left bottom;
}
#menu a:hover span{
	display: block;
}
#menu .home {
	width: 14.4em;
	height: 5.8em;
	background: url(wMenu/home.gif) no-repeat;
	left: 9.6em;
	top: 7.3em;
}
#menu .home span {
	width: 8.6em;
	height: 1.4em;
	background: url(wMenu/home-over.gif) no-repeat;
	left: 2.8em;
	top: -2.0em;
}
#menu .about {
	width: 13.1em;
	height: 5.1em;
	background: url(wMenu/about.gif) no-repeat;
	left: 33.8em;
	top: 9.7em;
}
#menu .about span {
	width: 4.0em;
	height: 1.2em;
	background: url(wMenu/about-over.gif) no-repeat;
	left: 4.4em;
	top: 5.4em;
}
#menu .rss {
	width: 11.2em;
	height: 4.7em;
	background: url(wMenu/rss.gif) no-repeat;
	left: 58.8em;
	top: 9.4em;
}
#menu .rss span {
	width: 9.2em;
	height: 2.0em;
	background: url(wMenu/rss-over.gif) no-repeat;
	left: 2.6em;
	top: -2.0em;
}
/*]]>*/
