<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->

<style type="text/css">
/*<![CDATA[*/
blockquote {
	background: transparent url(bQuote/quote.png) left top no-repeat;
	font-family: "Palatino Linotype", Palatino, Georgia, serif;
	margin:20px;
}
blockquote p{
	padding-left:29px;
	padding-top:13px;
}
blockquote div{
	text-align:right;
	font-weight:bold;
}
/*]]>*/
</style>


<blockquote>
	<p>We should forget about small efficiencies, say about 97% of the time: premature optimization is the root of all evil. Yet we should not pass up our opportunities in that critical 3%.</p>
	<div>Donald Knuth</div>
</blockquote>

<blockquote>
	<p>Rule of Optimization: Prototype before polishing. Get it working before you optimize it.</p>
	<div>The Art Of Unix Programming</div>
</blockquote>
</body>
</html>