/* ==============================================================
 * Arce: typegraphy.css
 *      set thead type on page, some code come form Blueprint
 * 
 * Author:
 *     nwind@live.com
 * 
 * License:
 *     MIT license
 *
 * Version:
 *     $Date: 2008-04-08 00:07:45 +0800 (Tue, 08 Apr 2008) $
 *     $Rev: 112 $
 *
 * Reference:
 *     http://www.alistapart.com/articles/settingtypeontheweb
 *     http://www.apaddedcell.com/web-fonts
 *     http://code.google.com/p/blueprintcss/
 *	
 *
================================================================== */


/* ------------------------------------------------------------------
 * ## Text ##:
 *     font-size for normal text
 *		so the default font-size will be 10px
 */
body {
	font: 62.5%/1.5 Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 
 * BugFix (All):
 *     font properties are not inhert from <body> into <table> \
 *     in quicksMode （except font-family）
 */
table {
	font-size: 1.2em;
}

/* 
 * BugFix (All):
 *     <input> doesn't inherit 
 */
input {
	font-size: 1.2em;
}

/* 
 * BugFix (IE):
 *     <legend> doesn't inherit in IE 
 */
legend{
	font-size: 1.2em;
	color: #000;
}

/*
 * Note:
 *     Don't set the margin to all <p>
 */
div.content p {
	margin:0 0 1.5em;
}

/* ------------------------------------------------------------------
 * ## HeadLine ##:
 *     font-size for headline
 */
h1, h2, h3, h4, h5{
	font-family: "Palatino Linotype", Palatino, Georgia, serif;
	font-weight: bold;
	color: #111;
}

h1 { font-size: 3.4em; line-height: 1.2; margin-bottom: 0.6em; }
h2 { font-size: 2.4em; margin-bottom: 0.9em; }
h3 { font-size: 1.5em; line-height: 1.2; margin-bottom: 1.2em; }
h4 { font-size: 1.8em; line-height: 1.25; margin-bottom: 1.5em; height: 1.5em; }
h5 { font-size: 1.2em; font-weight: bold; margin-bottom: 1.8em; }
h6 { font-size: 1.2em; font-weight: bold; }

/* ------------------------------------------------------------------
 * ## Others ##:
 *     
 */

big {
	font-size:1.4em;
}

small {
	font-size:1em;
}

code, pre, samp {
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
	overflow: auto;

	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

acronym, abbr {
	border-bottom:0.1em dotted #000; 
	cursor: help;
}

acronym {
	text-transform: uppercase;
	letter-spacing:0.1em;
}
