
/*<![CDATA[*/

#header, #container, #footer {
	width: 90%;
}

#aside {
	float: left;
	width: 23.0em;
}

#extra {
	float: left;
	width: 20.0em;
	margin-left: -20.0em;
}

#content {
	float:left;
	width:100%;
}

#content_inner {
	margin: 0 20.0em 0 23.0em;
}

/*]]>*/
