
/*<![CDATA[*/

#header, #container, #footer {
	width: 90%;
}

#extra {
	float: right;
	width: 20.0em;
}


#content {
	float:left;
	width:100%;
	margin-right: -20.0em;
}

#content_inner{
	margin-right: 20.0em;
}


#aside {
	float: left;
	width: 23.0em;
}

#article {
	float:right;
	width:100%;
	margin:0 0 0 -23.0em;
}

#article_inner {
	margin: 0 0 0 23.0em;
}
/*]]>*/
