
/*<![CDATA[*/

#header, #container, #footer {
	width:90%;
}

#aside {
	float: left;
	width: 23.0em;
}

#extra {
	float: left;
	width: 20.0em;
}

#main {
	float:left;
	width:100%;
	margin:0 0 0 -43.0em;
}

#content {
	margin: 0 0 0 43.0em;
}

/*]]>*/
