<!--
	$Date: 2008-03-31 17:01:57 +0800 (Mon, 31 Mar 2008) $
	$Rev: 106 $
-->
<style type="text/css">
/*<![CDATA[*/
/*
	Reference:
		http://veerle.duoh.com/blog/comments/a_css_styled_calendar/
*/

.sCal {
	width: 141px;
	border-left: 1px solid #A2ADBC;
	color: #616B76;
	text-align: center;
	background-color: #fff;
}

.sCal-nav, .sCal-nav a {
	color: #fff;	
	text-align: center;
	text-decoration: none;
}	

.sCal caption {
	width: 141px;
	background: #A2ADBC;
	color: #fff;
	text-align: center;
}

.sCal th {
	font: bold 11px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}

.sCal .sCal-today, .sCal td.sCal-today a, .sCal td.sCal-today a:link, .sCal td.sCal-today a:visited {
	color: #F6F4DA;
	font-weight: bold;
	background: #DF9496;
}

.sCal td {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	width: 20px;
	height: 20px;
	text-align: center;
	background: url(sCal/bg_calendar.gif) no-repeat right bottom;
}

.sCal td a {
	text-decoration: none;
	font-weight: bold;
	display: block;
}

.sCal td a:link, .sCal td a:visited {	
	color: #608194;
	background: url(sCal/bg_calendar.gif) no-repeat;
}

.sCal td a:hover, .sCal td a:active {
	color: #6aa3ae;
	background: url(sCal/bg_calendar.gif) no-repeat right top;
}

/*]]>*/
</style>

<table class="sCal" cellspacing="0" summary="This month's calendar">
	<caption><a href="#" title="previous month" class="sCal-nav">&laquo;</a> March <a href="#" title="next month" class="sCal-nav">&raquo;</a></caption>

	 <tr>
		<th scope="col" title="Sunday">S</th>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
	 </tr>
	 <tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>1</td>

		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
	 </tr>
	 <tr>
		<td class="sCal-today"><a href="#">6</a></td>

		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td><a href="#">10</a></td>
		<td>11</td>
		<td>12</td>

	 </tr>
	 <tr>
		<td><a href="#">13</a></td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>

		<td>18</td>
		<td>19</td>
	 </tr>
	 <tr>
		<td>20</td>
		<td>21</td>
		<td>22</td>

		<td><a href="#">23</a></td>
		<td>24</td>
		<td>25</td>
		<td>26</td>
	 </tr>
	 <tr>
		<td>27</td>

		<td>28</td>
		<td>29</td>
		<td>30</td>
		<td>31</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	 </tr>

</table>